@media (max-width: 992px){
    html{font-size: 90%;}
    .nav__bar {
        flex-wrap: wrap;
        
    }
    .promo__img {
        display: none;
    }    
   .promo__text-content {
        max-width: 67%;
    }
    .about__text-content {
        max-width: 60%;
    }
    .about__img {
        display: none;
    }
    .deals__list {
        margin: 0;
        align-items: center;
    }
    .deals__bar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .deals__item {
        max-width: 40%;
    }
}
@media (max-width: 871px){
}
@media (max-width: 767px){
    .nav__bar-item {
        display: none;
        &:last-of-type {
            display: flex;
            align-self: end;
        }
    }
    .review__date {
        margin-left: 5rem;
    }
    .review__text-content {
        max-width: 50%;
    }
}
@media (max-width: 680px){
    html {font-size: 80%;}
}
@media (max-width: 531px){
    html {font-size: 70%;}
    .about__flex-content {
        flex-wrap: wrap;
    }
    .about__text-content {
        max-width: 100%;
    }
    .about__cards {
        display: flex;
        gap: 40px;
    }
}
@media (max-width: 379px){
}

