@import "_base";

h1,h2,h3 {
    text-transform: uppercase;
}
h2 {
    font-stretch: condensed;
    &::first-letter {
        color: #D1A954;
    }
}
h3 {
    margin-bottom: 40px;
}
header {
    padding-top: 50px;
}
.nav__bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.nav__bar-item {
    a {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;
        font-stretch: condensed;
    }
    &:last-of-type {
        margin-left: 45px;
        border-bottom: 2px solid #D1A954;
    }
}
.promo {
    margin-top: 0;
}
.promo,header {
    display: flex;
    background: url(../img/promoBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}
.promo__container {
    margin: 190px auto 208px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.promo__text-content {
    max-width: 52%;
    h1 {
        text-transform: uppercase;
    }
    p {
        padding: 50px 0;
    }
    a {
        padding: 10px 47px;
        color: #fff;
        font-weight: 700;
        background: #D1A954;
        font-stretch: condensed;

    }
}
.promo__img {
    margin-right: 75px;
    max-width: 30%;
    img{
        max-width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
    }
    .img__control {
        display: flex;
        justify-content: space-between;
    }
    .img__arrow {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        gap: 25px;
    }
}
.gold-span {
    color: #D1A954;
}
.title {
    text-align: center;
    margin-bottom: 100px;
}
.flex-content {
    display: flex;
}
.about__flex-content {
    justify-content: space-between;
    gap: 20px;
}
.about__text-content {
    max-width: 38%;
}
.deals__list {
    margin-left: 150px;
}
.deals__bar {
    display: flex;
    img {
        -o-object-fit: contain;
           object-fit: contain;
        max-width: 100%;
    }
}
.deals__item {
    position: relative;
    h3,p{
        position: absolute;
    }
        p {
            bottom: 40px;
            left: 20px;
            font-weight: 700;
            font-size: 1.1rem;
            -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                    writing-mode: vertical-rl;
            transform: rotate(-180deg);
        }
    h3 {
        top: 40px;
        left: 40px;
    }
}
.review {
    background: url(../img/reviewBg.png);
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.review__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 120px 0;
    p {
        font-weight: 700;
    }
}
.review__date {
    margin-left: 11.8rem;
    p {
        font-size: 4.5rem;
        padding: 0;
        margin: 0;
    }
}
.review__text-content {
    p {font-size: 2.2rem;}
    max-width: 40%;
    margin-right: 5.9rem;
}
.partners__bar {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.partners__item {
    max-width: 50%;
}
.footer__container {
    display: flex;
    border-top: 1px solid grey;
    justify-content: space-between;
    p {
        color: #989898;
    }
}

@import "_media";